/*Aspectos Generales*/

body{
	width:100%;
	margin:0px;
	padding:0px;}

main{
	margin:0px;
	padding:0px;
	width:100%;
	position:inherit;}

#PrincipalContenedor{
	margin-left: 100px;
	margin-right: 100px;}

/*Tipografia*/

body{
	font-family:'roboto';
	font-size:23px;
	color:#464010;}

.EsParrafo{
	text-indent: 50px;}

.EsTitulo{
	text-indent:0px;
	font-size: 35px;
	color:#face54;}

a{
	text-decoration: none;
	color:#464010;}
	
/* Navegacion */

header{
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
	position: fixed;
	top:0px;
	height:100px;
	width:100%;
    z-index: 10;
	padding:0;
	margin:0;}

#NavegacionPC{
	display:none;}

#NavegacionLogoContenedor{
		position: absolute;
		left:50px;
		height:100px;
		margin:0;
		display:inline-block;}
		
#NavegacionLogoTexto{
		margin:auto;
		color:#face54;
		font-weight:500;
		font-size:50px;
		padding-top:23px;
		padding-bottom:23px;}

#NavegacionImagenMenu{
	float: right;
	margin-right: 10px;
	width:80px;
	padding:10px;}
	
.closed{
	display:none;}

#NavegacionBarra{
	position: relative;
    top: 100px;}
	
.NavegacionBoton{
	text-decoration:none;
	text-align:center;
	font-weight:lighter;
	color:#72430d;}
	
.NavegacionTexto{
	margin:-1px;
	font-size:30px;
	padding:25px;
	background-color:white;
	z-index:12;}

.divi{
	display:block;
	padding:1px;
	background-color:gray;}
	
.divitydiv{
	padding-left:150px;
	padding-right:150px;
	background-color:white;
	display:block;}

.NavegacionBoton:active{
	background-color:#fffbf0;}

/*Fin Navegacion*/

/*Inicio Home*/

#Inicio{
	margin-top:60px;
	width:100%;
	height:60vh;
	padding: 1px;
	background-color: #93c572;}

h1{
	text-align: center;
	margin-top:20vh;
	color:#face54;}

#InicioOpcionesContenedor{
	width:60%;
	margin-left: auto;
	margin-right: auto;}

.InicioOpciones{
	margin:auto;
	width:200px;
	height:40px;
	border-radius:35px;
	padding: 1px;
	background-color: #ffffff;}
	
#InicioOpcionA{
	margin-top: 40px;
	margin-bottom: 30px;}

.InicioOpcionesTexto{
	margin-top: 6px;
	margin-bottom: auto;
	text-align: center;}

/*Fin Home*/

/*Inicio Pagina Sabana*/

/*Recuadros*/

.Columna{
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	text-align: center;
	border-radius: 20px;}

.ColumnaImagen{
	width:75%;
	height:75%;
	margin: auto;}

.ColumnaTexto{
	margin-top: 0px;}

.Columna2{
	margin-top: 50px;
	margin-bottom: 50px;
}

#ColumnaValidado{
	background-color: #ee855c;}
#ColumnaUtilizado{
	background-color: #7bb96c}
#ColumnaElegido{
	background-color: #8bb4db}

/*Fin Recuadros*/